body {
  background-image: url(fondodepantallacorazones.jpg);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2em;
}
.padre {
  display: flex;
}
.hijo1 {
  text-align: center;
}
div {
}
